#grid {

}

#image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

img {
  width: 300px;
  height: 400px;
}

/* Title CSS */
h1, h3, p {
  text-align: center;
}